# Ignorar arquivos de compilação
*.pyc
__pycache__/

# Ignorar arquivos de configuração da IDE
.idea/

# Ignorar arquivos de build e distribuição
build/
dist/
*.egg-info/

# Ignorar banco de dados SQLite
*.db

# Ignorar ambientes virtuais
.venv/
venv/
